

    <ul class="nav nav-pills">

        <li class="nav-link ">  <button class="btn btn-primary active">ID : </button> <button class="btn btn-primary-outline"> <%=stud.id %>  </span> </li> 
        <li class="nav-link">  <button class="btn btn-primary">Othername : </button> <button class="btn btn-primary-outline"> <%=stud.fname %> </span>  </li>
        <li class="nav-link">  <button class="btn btn-primary">Surname : </button> <button class="btn btn-primary-outline"> <%=stud.lname %>  </span> </li> 
        <li class="nav-link">  <button class="btn btn-primary">Email : </button> <button class="btn btn-primary-outline"> <%=stud.email %>  </span> </li> 
        
        
     
    </ul>

